#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// for mouse configuration
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1250
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#include <dt-bindings/zmk/pointing.h>

#include "zmk-helpers/helper.h"

#include "keymaps/constants.dtsi"
#include "keymaps/combos/index.dtsi"
#include "keymaps/behaviours/mod-morphs/rpd-mod-morphs.dtsi"
#include "keymaps/behaviours/tap-holds/timeless-hrm.dtsi"
#include "keymaps/behaviours/tap-holds/index.dtsi"




/*                                      58 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────────┬────────────────────────────╮ ╭─────────────────────────────┬─────────────────────────────╮
  │  0   1   2   3   4   5     │      6   7   8   9  10  11 │ │ LT5 LT4 LT3 LT2 LT1 LT0     │     RT0 RT1 RT2 RT3 RT4 RT5 │
  │ 12  13  14  15  16  17     │     18  19  20  21  22  23 │ │ LM5 LM4 LM3 LM2 LM1 LM0     │     RM0 RM1 RM2 RM3 RM4 RM5 │
  │ 24  25  26  27  28  29     │     30  31  32  33  34  35 │ │ LB5 LB4 LB3 LB2 LB1 LB0     │     RB0 RB1 RB2 RB3 RB4 RB5 │
  │ 36  37  38  39  40  41  42 │ 43  44  45  46  47  48  49 │ │ LF5 LF4 LF3 LF2 LF1 LF0 LEC │ REC RF0 RF1 RF2 RF3 RF4 RF5 │
  ╰───────────╮ 50  51  52  53 │ 54  55  56  57 ╭───────────╯ ╰───────────╮ LH3 LH2 LH1 LH0 │ RH0 RH1 RH2 RH3 ╭───────────╯
              ╰────────────────┴────────────────╯                         ╰─────────────────┴─────────────────╯             */


/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "qwerty";
            bindings = <
//    ┌──────┬────────────────┬────────────────┬────────────────────┬────────────────┬──────────┐               ┌────────────┬────────────────┬────────────────────┬────────────────┬────────────────┬──────┐
//    │ esc  │       1        │       2        │         3          │       4        │    5     │               │     6      │       7        │         8          │       9        │       0        │ bspc │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────┤               ├────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ tab  │       Q        │       W        │         E          │       R        │    T     │               │     Y      │       U        │         I          │       O        │       P        │  [   │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────┤               ├────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ lsft │ &thrm_l lgui A │ &thrm_l lalt S │ &thrm_sft_l lsft D │ &thrm_l lctl F │    G     │               │     H      │ &thrm_r rctl J │ &thrm_sft_r lsft K │ &thrm_r lalt L │ &thrm_r rgui ; │  '   │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────┼─────┐   ┌─────┼────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ lctl │       Z        │       X        │         C          │       V        │    B     │     │   │     │     N      │       M        │         ,          │       .        │       /        │ rsft │
//    └──────┴────────────────┴────────────────┼────────────────────┼────────────────┼──────────┼─────┤   ├─────┼────────────┼────────────────┼────────────────────┼────────────────┴────────────────┴──────┘
//                                             │        lgui        │      lalt      │ mo LOWER │ spc │   │ ent │ mo raltISE │      rctl      │        ralt        │
//                                             └────────────────────┴────────────────┴──────────┴─────┘   └─────┴────────────┴────────────────┴────────────────────┘
  &kp ESC     &kp N1           &kp N2           &kp N3                &kp N4            &kp N5                                &kp N6      &kp N7            &kp N8                &kp N9           &kp N0              &kp BSPC
  &kp TAB     &kp Q            &kp W            &kp E                 &kp R             &kp T                                 &kp Y       &kp U             &kp I                 &kp O            &kp P               &kp LEFT_BRACKET
  &kp LSHFT   &thrm_l LGUI A   &thrm_l LALT S   &thrm_sft_l LSHFT D   &thrm_l LCTRL F   &kp G                                 &kp H       &thrm_r RCTRL J   &thrm_sft_r LSHFT K   &thrm_r LALT L   &thrm_r RGUI SEMI   &kp SQT
  &kp LCTRL   &kp Z            &kp X            &kp C                 &kp V             &kp B       &trans          &trans    &kp N       &kp M             &kp COMMA             &kp DOT          &kp FSLH            &kp RSHFT
                                                &kp LGUI              &kp LALT          &mo LOWER   &kp SPACE       &kp RET   &mo RAISE   &kp RCTRL         &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
      };

        qwerty_with_rpd_lower {
            // same as qwerty but with lower_qwerty_to_rpd lower layer
            // only used with system rpd remap
            display-name = "qwerty with rpd lower";
            bindings = <
//    ┌──────┬────────────────┬────────────────┬────────────────────┬────────────────┬──────────────────┐               ┌────────────┬────────────────┬────────────────────┬────────────────┬────────────────┬──────┐
//    │ esc  │       1        │       2        │         3          │       4        │        5         │               │     6      │       7        │         8          │       9        │       0        │ bspc │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────────────┤               ├────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ tab  │       Q        │       W        │         E          │       R        │        T         │               │     Y      │       U        │         I          │       O        │       P        │  [   │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────────────┤               ├────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ lsft │ &thrm_l lgui A │ &thrm_l lalt S │ &thrm_sft_l lsft D │ &thrm_l lctl F │        G         │               │     H      │ &thrm_r rctl J │ &thrm_sft_r lsft K │ &thrm_r lalt L │ &thrm_r rgui ; │  '   │
//    ├──────┼────────────────┼────────────────┼────────────────────┼────────────────┼──────────────────┼─────┐   ┌─────┼────────────┼────────────────┼────────────────────┼────────────────┼────────────────┼──────┤
//    │ lctl │       Z        │       X        │         C          │       V        │        B         │     │   │     │     N      │       M        │         ,          │       .        │       /        │ rsft │
//    └──────┴────────────────┴────────────────┼────────────────────┼────────────────┼──────────────────┼─────┤   ├─────┼────────────┼────────────────┼────────────────────┼────────────────┴────────────────┴──────┘
//                                             │        lgui        │      lalt      │ mo LowerForOsRpd │ spc │   │ ent │ mo raltISE │      rctl      │        ralt        │
//                                             └────────────────────┴────────────────┴──────────────────┴─────┘   └─────┴────────────┴────────────────┴────────────────────┘
  &kp ESC     &kp N1           &kp N2           &kp N3                &kp N4            &kp N5                                        &kp N6      &kp N7            &kp N8                &kp N9           &kp N0              &kp BSPC
  &kp TAB     &kp Q            &kp W            &kp E                 &kp R             &kp T                                         &kp Y       &kp U             &kp I                 &kp O            &kp P               &kp LEFT_BRACKET
  &kp LSHFT   &thrm_l LGUI A   &thrm_l LALT S   &thrm_sft_l LSHFT D   &thrm_l LCTRL F   &kp G                                         &kp H       &thrm_r RCTRL J   &thrm_sft_r LSHFT K   &thrm_r LALT L   &thrm_r RGUI SEMI   &kp SQT
  &kp LCTRL   &kp Z            &kp X            &kp C                 &kp V             &kp B               &trans          &trans    &kp N       &kp M             &kp COMMA             &kp DOT          &kp FSLH            &kp RSHFT
                                                &kp LGUI              &kp LALT          &mo LowerForOsRpd   &kp SPACE       &kp RET   &mo RAISE   &kp RCTRL         &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
      };

        qwerty_gaming_layer {
            display-name = "Gaming qwerty";
            bindings = <
//    ┌──────┬───┬───┬──────┬──────┬──────────────────────────────────┐               ┌────────────┬──────┬──────┬───┬───┬──────┐
//    │ esc  │ 1 │ 2 │  3   │  4   │                5                 │               │     6      │  7   │  8   │ 9 │ 0 │ bspc │
//    ├──────┼───┼───┼──────┼──────┼──────────────────────────────────┤               ├────────────┼──────┼──────┼───┼───┼──────┤
//    │ tab  │ Q │ W │  E   │  R   │                T                 │               │     Y      │  U   │  I   │ O │ P │  [   │
//    ├──────┼───┼───┼──────┼──────┼──────────────────────────────────┤               ├────────────┼──────┼──────┼───┼───┼──────┤
//    │ lsft │ A │ S │  D   │  F   │                G                 │               │     H      │  J   │  K   │ L │ ; │  '   │
//    ├──────┼───┼───┼──────┼──────┼──────────────────────────────────┼─────┐   ┌─────┼────────────┼──────┼──────┼───┼───┼──────┤
//    │ lctl │ Z │ X │  C   │  V   │                B                 │     │   │     │     N      │  M   │  ,   │ . │ / │ rsft │
//    └──────┴───┴───┼──────┼──────┼──────────────────────────────────┼─────┤   ├─────┼────────────┼──────┼──────┼───┴───┴──────┘
//                   │ lgui │ lalt │ &thumb_layer_tog LOWER RightSide │ spc │   │ ent │ mo raltISE │ rctl │ ralt │
//                   └──────┴──────┴──────────────────────────────────┴─────┘   └─────┴────────────┴──────┴──────┘
  &kp ESC     &kp N1   &kp N2   &kp N3     &kp N4     &kp N5                                                       &kp N6      &kp N7      &kp N8      &kp N9    &kp N0     &kp BSPC
  &kp TAB     &kp Q    &kp W    &kp E      &kp R      &kp T                                                        &kp Y       &kp U       &kp I       &kp O     &kp P      &kp LEFT_BRACKET
  &kp LSHFT   &kp A    &kp S    &kp D      &kp F      &kp G                                                        &kp H       &kp J       &kp K       &kp L     &kp SEMI   &kp SQT
  &kp LCTRL   &kp Z    &kp X    &kp C      &kp V      &kp B                              &trans          &trans    &kp N       &kp M       &kp COMMA   &kp DOT   &kp FSLH   &kp RSHFT
                                &kp LGUI   &kp LALT   &thumb_layer_tog LOWER RightSide   &kp SPACE       &kp RET   &mo RAISE   &kp RCTRL   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
      };

        rpd_layer {
            display-name = "Real Programmers Dvorak";
            bindings = <
//    ┌──────┬──────────────────┬──────────────────┬────────────────────┬──────────────────┬─────────────────┐                         ┌──────────────────┬──────────────────┬────────────────────┬──────────────────┬─────────────────┬──────┐
//    │ esc  │ &shift_1_to_plus │ &shift_2_to_lbkt │  &shift_3_to_lbrc  │ &shift_4_to_lpar │ &shift_5_to_amp │                         │ &shift_6_to_pipe │ &shift_7_to_rpar │  &shift_8_to_rbrc  │ &shift_9_to_rbkt │ &shift_0_to_ast │ bspc │
//    ├──────┼──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┤                         ├──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┼──────┤
//    │ tab  │        ;         │        ,         │         .          │        P         │        Y        │                         │        F         │        G         │         C          │        R         │        L        │  /   │
//    ├──────┼──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┤                         ├──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┼──────┤
//    │ lsft │  &thrm_l lgui A  │  &thrm_l lalt O  │ &thrm_sft_l lsft E │  &thrm_l lctl U  │        I        │                         │        D         │  &thrm_r rctl H  │ &thrm_sft_r lsft T │  &thrm_r lalt N  │ &thrm_r rgui S  │  -   │
//    ├──────┼──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┼───────────────┐   ┌─────┼──────────────────┼──────────────────┼────────────────────┼──────────────────┼─────────────────┼──────┤
//    │ lctl │        '         │        Q         │         J          │        K         │        X        │ tog GamingRPD │   │     │        B         │        M         │         W          │        V         │        Z        │ rsft │
//    └──────┴──────────────────┴──────────────────┼────────────────────┼──────────────────┼─────────────────┼───────────────┤   ├─────┼──────────────────┼──────────────────┼────────────────────┼──────────────────┴─────────────────┴──────┘
//                                                 │        lgui        │       lalt       │    mo LOWER     │      spc      │   │ ent │    mo raltISE    │       rctl       │        ralt        │
//                                                 └────────────────────┴──────────────────┴─────────────────┴───────────────┘   └─────┴──────────────────┴──────────────────┴────────────────────┘
  &kp ESC     &shift_1_to_plus   &shift_2_to_lbkt   &shift_3_to_lbrc      &shift_4_to_lpar   &shift_5_to_amp                                  &shift_6_to_pipe   &shift_7_to_rpar   &shift_8_to_rbrc      &shift_9_to_rbkt   &shift_0_to_ast   &kp BSPC
  &kp TAB     &kp SEMICOLON      &kp COMMA          &kp PERIOD            &kp P              &kp Y                                            &kp F              &kp G              &kp C                 &kp R              &kp L             &kp SLASH
  &kp LSHFT   &thrm_l LGUI A     &thrm_l LALT O     &thrm_sft_l LSHFT E   &thrm_l LCTRL U    &kp I                                            &kp D              &thrm_r RCTRL H    &thrm_sft_r LSHFT T   &thrm_r LALT N     &thrm_r RGUI S    &kp MINUS
  &kp LCTRL   &kp SQT            &kp Q              &kp J                 &kp K              &kp X             &tog GamingRPD       &trans    &kp B              &kp M              &kp W                 &kp V              &kp Z             &kp RSHFT
                                                    &kp LGUI              &kp LALT           &mo LOWER         &kp SPACE            &kp RET   &mo RAISE          &kp RCTRL          &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        rpd_gaming_layer {
            display-name = "Real Programmers Dvorak for gaming";
            bindings = <
//    ┌─────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬─────────────────┐                         ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬─────────────────┬──────┐
//    │ esc │ &shift_1_to_plus │ &shift_2_to_lbkt │ &shift_3_to_lbrc │ &shift_4_to_lpar │ &shift_5_to_amp │                         │ &shift_6_to_pipe │ &shift_7_to_rpar │ &shift_8_to_rbrc │ &shift_9_to_rbkt │ &shift_0_to_ast │ bspc │
//    ├─────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┤                         ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┼──────┤
//    │ tab │        ;         │        ,         │        .         │        P         │        Y        │                         │        F         │        G         │        C         │        R         │        L        │  /   │
//    ├─────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┤                         ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┼──────┤
//    │     │        A         │        O         │        E         │        U         │        I        │                         │        D         │        H         │        T         │        N         │        S        │  -   │
//    ├─────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┼───────────────┐   ┌─────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼─────────────────┼──────┤
//    │     │        '         │        Q         │        J         │        K         │        X        │ tog GamingRPD │   │     │        B         │        M         │        W         │        V         │        Z        │      │
//    └─────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼─────────────────┼───────────────┤   ├─────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┴─────────────────┴──────┘
//                                                │       lgui       │       lalt       │    mo LOWER     │      spc      │   │ ent │    mo raltISE    │       rctl       │       ralt       │
//                                                └──────────────────┴──────────────────┴─────────────────┴───────────────┘   └─────┴──────────────────┴──────────────────┴──────────────────┘
  &kp ESC   &shift_1_to_plus   &shift_2_to_lbkt   &shift_3_to_lbrc   &shift_4_to_lpar   &shift_5_to_amp                                  &shift_6_to_pipe   &shift_7_to_rpar   &shift_8_to_rbrc   &shift_9_to_rbkt   &shift_0_to_ast   &kp BSPC
  &kp TAB   &kp SEMICOLON      &kp COMMA          &kp PERIOD         &kp P              &kp Y                                            &kp F              &kp G              &kp C              &kp R              &kp L             &kp SLASH
  &trans    &kp A              &kp O              &kp E              &kp U              &kp I                                            &kp D              &kp H              &kp T              &kp N              &kp S             &kp MINUS
  &trans    &kp SQT            &kp Q              &kp J              &kp K              &kp X             &tog GamingRPD       &trans    &kp B              &kp M              &kp W              &kp V              &kp Z             &trans
                                                  &kp LGUI           &kp LALT           &mo LOWER         &kp SPACE            &kp RET   &mo RAISE          &kp RCTRL          &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
//    ┌─────┬────┬────┬─────┬─────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │ f1  │ f2 │ f3 │ f4  │ f5  │ f6  │               │ f7  │ f8  │ f9  │ f10 │ f11 │ f12 │
//    ├─────┼────┼────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │  $  │ ~  │ %  │  !  │  \  │  ,  │               │  .  │  #  │  @  │  ^  │  `  │  =  │
//    ├─────┼────┼────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │ 1  │ 2  │  3  │  4  │  5  │               │  6  │  7  │  8  │  9  │  0  │  -  │
//    ├─────┼────┼────┼─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │ +  │ [  │  {  │  (  │  &  │     │   │     │  |  │  )  │  }  │  ]  │  *  │     │
//    └─────┴────┴────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┴─────┴─────┘
//                    │     │     │     │     │   │ spc │     │     │     │
//                    └─────┴─────┴─────┴─────┘   └─────┴─────┴─────┴─────┘
  &kp F1       &kp F2      &kp F3        &kp F4     &kp F5     &kp F6                               &kp F7       &kp F8     &kp F9     &kp F10     &kp F11     &kp F12
  &kp DOLLAR   &kp TILDE   &kp PERCENT   &kp EXCL   &kp BSLH   &kp COMMA                            &kp PERIOD   &kp HASH   &kp AT     &kp CARET   &kp GRAVE   &kp EQUAL
  &trans       &kp N1      &kp N2        &kp N3     &kp N4     &kp N5                               &kp N6       &kp N7     &kp N8     &kp N9      &kp N0      &kp MINUS
  &trans       &kp PLUS    &kp LBKT      &kp LBRC   &kp LPAR   &kp AMPS    &trans       &trans      &kp PIPE     &kp RPAR   &kp RBRC   &kp RBKT    &kp STAR    &trans
                                         &trans     &trans     &trans      &trans       &kp SPACE   &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
//    ┌──────┬────────────────┬────────────────┬──────────────┬────────────────┬──────────┐                                            ┌───────────┬──────┬──────┬──────┬─────┬─────┐
//    │      │    bt_sel 0    │    bt_sel 1    │   bt_sel 2   │    bt_sel 3    │ bt_sel 4 │                                            │ to QWERTY │      │      │      │     │     │
//    ├──────┼────────────────┼────────────────┼──────────────┼────────────────┼──────────┤                                            ├───────────┼──────┼──────┼──────┼─────┼─────┤
//    │      │ &msc SCRL_left │ &msc SCRL_down │ &msc SCRL_up │ &msc SCRL_rght │          │                                            │           │ lclk │ mclk │ rclk │     │     │
//    ├──────┼────────────────┼────────────────┼──────────────┼────────────────┼──────────┤                                            ├───────────┼──────┼──────┼──────┼─────┼─────┤
//    │ caps │ &mmv MOVE_left │ &mmv MOVE_down │ &mmv MOVE_up │ &mmv MOVE_rght │          │                                            │   left    │ down │  up  │ rght │     │     │
//    ├──────┼────────────────┼────────────────┼──────────────┼────────────────┼──────────┼─────────────────────────────────┐   ┌──────┼───────────┼──────┼──────┼──────┼─────┼─────┤
//    │      │                │                │              │                │          │              boot               │   │ boot │           │      │      │      │     │     │
//    └──────┴────────────────┴────────────────┼──────────────┼────────────────┼──────────┼─────────────────────────────────┤   ├──────┼───────────┼──────┼──────┼──────┴─────┴─────┘
//                                             │   tog RPD    │      lsft      │          │ &thumb_layer_tap RaiseRaise spc │   │      │           │      │      │
//                                             └──────────────┴────────────────┴──────────┴─────────────────────────────────┘   └──────┴───────────┴──────┴──────┘
  &trans     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2   &bt BT_SEL 3      &bt BT_SEL 4                                                         &to QWERTY   &trans      &trans      &trans      &trans   &trans
  &trans     &msc SCRL_LEFT   &msc SCRL_DOWN   &msc SCRL_UP   &msc SCRL_RIGHT   &trans                                                               &trans       &mkp LCLK   &mkp MCLK   &mkp RCLK   &trans   &trans
  &kp CAPS   &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   &trans                                                               &kp LEFT     &kp DOWN    &kp UP      &kp RIGHT   &trans   &trans
  &trans     &trans           &trans           &trans         &trans            &trans         &bootloader                             &bootloader   &trans       &trans      &trans      &trans      &trans   &trans
                                               &tog RPD       &kp LSHFT         &trans         &thumb_layer_tap RaiseRaise SPACE       &trans        &trans       &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_lower_layer {
            display-name = "Lower-Lower";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │     │   │     │     │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │     │   │     │     │     │     │
//                      └─────┴─────┴─────┴─────┘   └─────┴─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_raise_layer {
            display-name = "Raise-Raise";
            bindings = <
//    ┌────────┬──────────────┬──────────────┬──────────────┬──────────────┬──────────────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │ bt_clr │ bt_BT_DISC 0 │ bt_BT_DISC 1 │ bt_BT_DISC 2 │ bt_BT_DISC 3 │ bt_BT_DISC 4 │               │     │     │     │     │     │     │
//    ├────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │        │              │              │              │              │              │               │     │     │     │     │     │     │
//    ├────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │        │              │              │              │              │              │               │     │     │     │     │     │     │
//    ├────────┼──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │        │              │              │              │              │              │     │   │     │     │     │     │     │     │     │
//    └────────┴──────────────┴──────────────┼──────────────┼──────────────┼──────────────┼─────┤   ├─────┼─────┼─────┼─────┼─────┴─────┴─────┘
//                                           │              │              │              │     │   │     │     │     │     │
//                                           └──────────────┴──────────────┴──────────────┴─────┘   └─────┴─────┴─────┴─────┘
  &bt BT_CLR   &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4                         &trans   &trans   &trans   &trans   &trans   &trans
  &trans       &trans          &trans          &trans          &trans          &trans                                &trans   &trans   &trans   &trans   &trans   &trans
  &trans       &trans          &trans          &trans          &trans          &trans                                &trans   &trans   &trans   &trans   &trans   &trans
  &trans       &trans          &trans          &trans          &trans          &trans          &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans
                                               &trans          &trans          &trans          &trans       &trans   &trans   &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };


        lower_for_os_rpd {
            // this layer only exists to be remaped into a regular LOWER by systems rpd layout
            display-name = "Lower for os rpd";
            bindings = <
//    ┌─────┬────┬────┬─────┬─────┬─────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │ f1  │ f2 │ f3 │ f4  │ f5  │ f6  │               │ f7  │ f8  │ f9  │ f10 │ f11 │ f12 │
//    ├─────┼────┼────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │  `  │ ~  │ _  │  -  │  \  │  W  │               │  E  │  |  │  =  │  +  │  }  │  [  │
//    ├─────┼────┼────┼─────┼─────┼─────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │ 1  │ 2  │  3  │  4  │  5  │               │  6  │  7  │  8  │  9  │  0  │  -  │
//    ├─────┼────┼────┼─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │ !  │ @  │  #  │  $  │  %  │     │   │     │  ^  │  &  │  *  │  (  │  )  │     │
//    └─────┴────┴────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┴─────┴─────┘
//                    │     │     │     │     │   │ spc │     │     │     │
//                    └─────┴─────┴─────┴─────┘   └─────┴─────┴─────┴─────┘
  &kp F1      &kp F2      &kp F3      &kp F4      &kp F5       &kp F6                                 &kp F7      &kp F8     &kp F9      &kp F10    &kp F11    &kp F12
  &kp GRAVE   &kp TILDE   &kp UNDER   &kp MINUS   &kp BSLH     &kp W                                  &kp E       &kp PIPE   &kp EQUAL   &kp PLUS   &kp RBRC   &kp LBKT
  &trans      &kp N1      &kp N2      &kp N3      &kp N4       &kp N5                                 &kp N6      &kp N7     &kp N8      &kp N9     &kp N0     &kp MINUS
  &trans      &kp EXCL    &kp AT      &kp HASH    &kp DOLLAR   &kp PERCENT   &trans       &trans      &kp CARET   &kp AMPS   &kp STAR    &kp LPAR   &kp RPAR   &trans
                                      &trans      &trans       &trans        &trans       &kp SPACE   &trans      &trans     &trans
            >;
                
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_3 { status = "reserved"; };
    };
};
