#include "../../constants.dtsi"

/ {
    macros {
        macro_lang_switch_on_os_rpd: language_switch_on_os_rpd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_press &kp RALT &kp RSHFT>
                , <&macro_release &kp RALT &kp RSHFT>
                , <&macro_tap &tog QWERTYWithRpdLower>
                ;
        };
    };
};
